.bg-blue-dark {
  background-color: $blue-700;
  color: rgba(255, 255, 255, 1);
}

.bg-blue {
  color: rgba(255, 255, 255, 1);
}

.bg-blue-light {
  background-color: $blue-300;
}

.bg-blue-lighter {
  background-color: $blue-200;
}

.bg-cyan-dark {
  background-color: $cyan-700;
  color: rgba(255, 255, 255, 1);
}

.bg-cyan {
  color: rgba(255, 255, 255, 1);
}

.bg-cyan-light {
  background-color: $cyan-300;
}

.bg-cyan-lighter {
  background-color: $cyan-200;
}

.bg-teal-dark {
  background-color: $teal-700;
  color: rgba(255, 255, 255, 1);
}

.bg-teal {
  color: rgba(255, 255, 255, 1);
}

.bg-teal-light {
  background-color: $teal-300;
}

.bg-blue-gray-dark {
  background-color: $blue-gray-700;
  color: rgba(255, 255, 255, 1);
}

.bg-blue-gray {
  color: rgba(255, 255, 255, 1);
}

.bg-blue-gray-light {
  background-color: $blue-gray-300;
}

.bg-green-dark {
  background-color: $green-700;
  color: rgba(255, 255, 255, 1);
}

.bg-green {
  color: rgba(255, 255, 255, 1);
}

.bg-green-light {
  background-color: $green-300;
}

.bg-orange-dark {
  background-color: $orange-700;
  color: rgba(255, 255, 255, 1);
}

.bg-orange {
  color: rgba(255, 255, 255, 1);
}

.bg-orange-light {
  background-color: $orange-300;
}

.bg-deep-orange-dark {
  background-color: $deep-orange-700;
  color: rgba(255, 255, 255, 1);
}

.bg-deep-orange {
  color: rgba(255, 255, 255, 1);
}

.bg-deep-orange-light {
  background-color: $deep-orange-300;
}

.bg-indigo-dark {
  background-color: $indigo-700;
  color: rgba(255, 255, 255, 1);
}

.bg-indigo {
  color: rgba(255, 255, 255, 1);
}

.bg-indigo-light {
  background-color: $indigo-300;
}

.bg-lime-dark {
  background-color: $lime-700;
  color: rgba(255, 255, 255, 1);
}

.bg-lime {
  color: rgba(255, 255, 255, 1);
}

.bg-lime-light {
  background-color: $lime-300;
}

.bg-amber-dark {
  background-color: $amber-700;
  color: rgba(255, 255, 255, 1);
}

.bg-amber {
  color: rgba(255, 255, 255, 1);
}

.bg-amber-light {
  background-color: $amber-300;
}

.bg-brown-dark {
  background-color: $brown-700;
  color: rgba(255, 255, 255, 1);
}

.bg-brown {
  color: rgba(255, 255, 255, 1);
}

.bg-brown-light {
  background-color: $brown-300;
}

.bg-yellow-dark {
  background-color: $yellow-700;
  color: rgba(255, 255, 255, 1);
}

.bg-yellow {
  color: rgba(255, 255, 255, 1);
}

.bg-yellow-light {
  background-color: $yellow-300;
}

.bg-gray-dark {
  background-color: $gray-700;
  color: rgba(255, 255, 255, 1);
}

.bg-gray {
  color: rgba(255, 255, 255, 1);
}

.bg-gray-light {
  background-color: $gray-300;
}

.bg-gray-lighter {
  background-color: $gray-200;
}

.bg-light-blue-dark {
  background-color: $light-blue-700;
  color: rgba(255, 255, 255, 1);
}

.bg-light-blue {
  color: rgba(255, 255, 255, 1);
}

.bg-light-blue-light {
  background-color: $light-blue-300;
}

.bg-light-blue-lighter {
  background-color: #81D4FA;
}