<footer id="footer" class="bg-gray-lighter">
  <hr />
  <div class="text-center pb-2">
    <a class="d-inline-block px-3" href="http://facebook.com/qup.no" target="_BLANK"><img src="/assets/images/facebook-logo-button-footer.svg" alt="" /></a>
    <a class="d-inline-block px-3" href="http://github.com/qup" target="_BLANK"><img src="/assets/images/github-logo-button-footer.svg" alt="" /></a>
    <a class="d-inline-block px-3" href="http://linkedin.com/company/qup" target="_BLANK"><img src="/assets/images/linkedin-logo-button-footer.svg" alt="" /></a>
  </div>
</footer>