<header id="introduction" class="parallax-window" data-parallax="scroll" data-image-src="/assets/images/web-design-background.jpg">
  <div class="container">
    <div class="row py-5 justify-content-center bounce-up animation-element">
      <div class="my-5 py-5 box-black box-bounce col-10 col-md-7 text-center">
        <small>Vi driver med</small>
        <h2>
          Design og utvikling av nettsider
        </h2>
        <a href="#contact" class="btn btn-teal rounded-0 btn-lg mt-4">Kontakt oss</a>
      </div>
    </div>
  </div>
</header>